{% extends 'blogs/base.html' %}

{% block title %}Add post{% endblock title %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <!-- Left sidebar -->
        <!-- load the sidebar here -->
        {% include 'dashboards/sidebar.html' %}
        <!-- Right side content -->
        <div class="col-md-9">
            <h2>Add New Post</h2>
            <br>        
            <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="mt-3 btn btn-warning">Submit</button>
            </form>
            <br>
        </div>
    </div>
{% endblock %}